# Node / Vite / React Client
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local
.env.production.local
.env.development.local

# .NET Server Build outputs
**/bin/
**/obj/
**/out/
**/publish/
**/publish

# User Uploads / Media (Backend uploads folder should not be version controlled)
**/uploads/
!**/uploads/README.md

# IDEs and Editors
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.sw?
.DS_Store

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
